body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    background: black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.progress-container {
    position: absolute;
    right: 100px;
    top: 80px;
    width: 40px;
    height: 300px;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.progress-bar {
    width: 100%;
    height: 20%; 
    background: black;
    transition: height 0.3s ease-in-out;
}

.question{
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    padding: 20px;
    background: white;
    border: 2px solid black;
    display: inline-block;
    width: 60%;
}

.options-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    height: auto;
    width: 40%;
    margin: auto;
}

.option{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;  
    height: 150px;
    background: white;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.option img{
    height: auto;
    max-height: 125px;
    width: auto;
}

.option p {
    font-weight: bold;
    margin-top: 10px;
}

.option:hover {
    transform: scale(1.05);
}